modules = ["nodejs-20", "web"]

hidden = [".git", ".config", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["nodejs-20", "pnpm", "lsof"]

[env]
PORT = "5000"

run = ["npm", "run", "dev"]

[web]
port = 5173
open = true

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "install"]
start = "npm run start:production"

[[ports]]
localPort = 5000
externalPort = 80
