modules = ["nodejs-20", "web", "postgresql-16"]

hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

run = "npm run dev"

[nix]

channel = "stable-24_05"

[deployment]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 40814
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 55655
externalPort = 3002
exposeLocalhost = true
